p {
  margin: 0;
}

.keyValuePairA,
.keyValuePairB {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 10vh;
}

.keyValuePairA {
  background-color: rgb(236, 222, 222);
}

.keyValuePairB {
  background-color: rgb(114, 114, 114);
}

.key,
.value {
  display: flex;
  align-items: center;
  padding: 5vw;
  word-break: break-all;
}

.key {
  justify-content: flex-start;
}

.value {
  justify-content: flex-end;
}
